<div class="wrapper">
  <h1><%= @flat.name %></h1>
  <h4>Edit this flat</h4>
</div>

<div class="container">
  <%= simple_form_for (@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.submit "Edit", class: "btn btn-primary" %>
  <% end %>
</div>
